/* General Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: rgb(100, 140, 250);
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

/* .bottom{
  background-color: #f7f7f7;
} */

.right {
  float: right;
}
.red {
  color: hsl(2, 92%, 51%) !important;
}
.red-focus:focus {
  border: 1px solid #hsl(2, 92%, 51%) !important;
}

/* Upper Section of the page which contain the graph */

.top {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("back.png");
     /* url("cryp.jpg"); */
  background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cryptoResult--class {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(192, 188, 188);
}

.cryptoResultClass__title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.cryptoWalletTotal__value {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.gain_Loss--Class,
.profit_Loss--Class {
  color: white;
  padding: 12px;
  text-transform: uppercase;
}

.gain_Loss--Class {

  margin-bottom: 10px;
  background-color: #2c65cf;
}

.profit_Loss--Class {
  background-color: #f7b31f;
}

.gain_Loss--text,
.profit_Loss--text {
  float: left;
  font-size: 13px;
  color: white;
  margin-top: 2px;
}

.gain_Loss--value,
.profit_Loss--value {
  letter-spacing: 1px;
  float: left;
}

/* .gain_Loss--percentage,
.profit_Loss--percentage {
  float: left;
  width: 34px;
  font-size: 11px;
  padding: 3px 0;
  margin-left: 10px;
}

.profit_Loss--percentage {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 3px;
} */

/* Lower Section of the page containing the form and interactivity */

/***** Crypto Currency Choice *****/
.crypto_Currency__Option--class {
  padding: 14px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7);
}

.crypto_Currency__Option--container {
  margin: 0 auto;
  text-align: center;
}

.crypto__type__class, .currency__type__class {
  /*width: 55px;*/
  border: 1px solid #e7e7e7;
  height: 44px;
  font-size: 18px;
  color: inherit;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
}

.inputprev__cryptoex, .inputtoday__cryptoex, 
.inputprev__curr_amnt, .inputtoday__curr_amnt,
.add__value {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 5px;
  transition: border 0.3s;
}

.inputprev__cryptoex, .inputtoday__cryptoex, 
.inputprev__curr_amnt, .inputtoday__curr_amnt {
  width: 400px;
}
.add__value {
  width: 100px;
}

.calc__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: #28b9b5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}

.calc__btn:active {
  transform: translateY(2px);
}

.crypto__type__class, .currency__type__class:focus,
.inputprev__cryptoex:focus, .inputtoday__cryptoex:focus, 
.inputprev__curr_amnt:focus, .inputtoday__curr_amnt:focus{
  outline: none;
  border: 1px solid #28b9b5;
}

.calc__btn:focus {
  outline: none;
}

/***** LISTS *****/
.container {
  width: 1000px;
  margin: 60px auto;
}

.prev__cryptoex_class, .prev__curr_amnt_class {
  float: left;
  width: 475px;
  margin-right: 50px;
}

.today__cryptoex_class, .today__curr_amnt_class {
  float: left;
  width: 475px;
}

/* .savings {
  width: 50&;
  margin-right: 50px;
} */

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

h3{
  color: yellow;
}

.prev__cryptoex_title, 
.prev__curr_amnt_title  {
  color: blue;
}

.today__cryptoex_title, 
.today__curr_amnt_title  {
  color: brown;
}


/* .expenses__title {
  color: red;
}

.expenses__title {
  color: green;
} */

.item {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
}

.item:first-child {
  border-top: 1px solid #e7e7e7;
}
.item:nth-child(even) {
  background-color: #f7f7f7;
}

.item__description {
  float: left;
}

.item__value {
  float: left;
  transition: transform 0.3s;
}

.item__percentage {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: #ffdad9;
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center;
}

.prev__cryptoex_class .item__value, 
.prev__cryptoex_class .item__delete--btn,
.prev__curr_amnt_class .item__value,
.prev__curr_amnt_class .item__delete--btn {
  color: #28b9b5;
}

.today__cryptoex_class .item__value,
.today__cryptoex_class .item__percentage,
.today__cryptoex_class .item__delete--btn,
.today__curr_amnt_class .item__value,
.today__curr_amnt_class .item__percentage,
.today__curr_amnt_class .item__delete--btn {
  color: #ff5049;
}

.item__delete {
  float: left;
}

.item__delete--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}

.item:hover .item__delete--btn {
  display: block;
}
.item:hover .item__value {
  transform: translateX(-20px);
}
.item:hover .item__percentage {
  transform: translateX(-20px);
}

.unpaid {
  background-color: #ffdad9 !important;
  cursor: pointer;
  color: #ff5049;
}

.unpaid .item__percentage {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.unpaid:hover .item__description {
  font-weight: 900;
}

.clear-button {
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0;
  background-color: white;
  padding: 12px;
  transition-duration: 0.4s;
}
.clear-button:hover {
    background-color: #888888;
    color: white;
  }